<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>

<nav>
  <button><a href="{{ site.owner_url }}">Home</a></button>
<br>
<br>
  <h2>About</h2>
  {% if site.poseURL %}
  <li class="fork"><a href="{{ site.postURL }}/2018/01/01/work-done.html">Recent Work</a></li>
  {% else %}
  <li class="fork"><a href="{{ site.owner_url }}/2018/01/01/work-done.html">Recent Work</a></li>
  {% endif %}
  <li class="fork"><a href="https://www.linkedin.com/in/jamesdunlop/">LinkedIN</a></li>
  <li class="fork"><a href="">Contact</a></li>
<br>
<br>
  <h2>Development</h2>
  <li class="title">shotgunApps:</li>
  <li class="fork"><a href="{{ site.owner_url }}/jbd_sanityCheckUI">sanity Checker</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/tk-jbd-changeworkspace">change Workspace</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/tk-jbd-submit-mayaplayblast">maya Playblast</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/tk-jbd-anim-createshotcam">create Shotcam</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/tk-jbd-anim-fetchshotassets">fetch Shotassets</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/tk-jbd-lighting-fetchcaches">fetch Shotcaches</a></li>
<br>
  <li class="title">maya:</li>
  <li class="fork"><a href="{{ site.owner_url }}/MSide">MSide</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/Nebula">Nebula</a></li>
</nav>


