<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>

<nav>
  <button><a href="{{ site.owner_url }}">Home</a></button>
<br>
<br>
  <h2>About</h2>
  {% if site.poseURL %}
  <li class="fork"><a href="{{ site.postURL }}/2018/01/01/work-done.html">Recent Work</a></li>
  {% else %}
  <li class="fork"><a href="{{ site.owner_url }}/2018/01/01/work-done.html">Recent Work</a></li>
  {% endif %}
  <li class="fork"><a href="https://www.linkedin.com/in/jamesdunlop/">LinkedIN</a></li>
  <li class="fork"><a href="{{ site.owner_url }}contact/">Contact</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/2018/04/24/personalWork.html">Personal Work</a></li>

<br>
<br>
  <h2>Development</h2>
  <li class="title">Maya:</li>
  <li class="fork"><a href="{{ site.owner_url }}/CPlusPlusPosts.html">C++ Posts</a></li>
  <li class="fork"><a href="{{ site.owner_url }}/om2Posts.html">om2 Posts</a></li>
</nav>
