@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";
@import url("https://fonts.googleapis.com/css?family=Madan:900");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;
  color:#f0e7d5;
  font-weight: normal;
  background: #323232;
  background-attachment: fixed !important;
}

h1, h2, h3, h4, h5, h6 {
  color:#e8e8e8;
  margin:0 0 10px;
  font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;

}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color:#e8e8e8;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

a {
  color:#ffcc00;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #ffeb9b;
  }
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif !important;
  font-weight: bold;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:3px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  background: #272727;
  color:#efefef;
  font-size:13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}

pre {
  padding:8px 15px;
  background: #272727;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    background: #272727;
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#F0E7D5;
  font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif !important;
  font-weight: normal;
}




.wrapper {
  margin-right: auto;
  margin-left:  250px;
  max-width: 3200px;
  padding-right: 20px;
  padding-left:  20px;
  #title{
        color: white;
        font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
        align: center;
        font-size: 22px;
        width: 100%;
  }
  h1 {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 25px;
    font-weight: normal;
    align: center;
  }
  #pageHeader{
      color: grey;
      background: #454540;
      border:1px solid #121212;
      font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
      font-size: 12px;
        #indent{
            text-indent: 5em;
        }
        #codePostDisclaimer{
            background: #454530;
            border:1px solid #121212;
            font-family: 'Monaco', 'Helvetica Neue', Helvetica, Arial, serif;
            font-size: 11px;
            font-weight: italic;
            align: left;
        }
  }
}

#sideBar {
  z-index: 101;
  background: #3f3f3f;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  max-width: 250px;
  float: left;

 #recentPosts {
        z-index: 101;
        height: 100%;
        width: 100%;
        font-size: 9px;
        font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;

        h2 {
            font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
        }

        li {
          z-index: 100;
          text-align: left;
          list-style: none;
          color: white;
          font-weight: italic;
          font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
          font-size: 12px;

          a {
            width: 100%;
            align: left;
            color: white;
            text-align:left;
            font-weight: bold;
            font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;
            background: #0000000;
            font-size: 5px;

            &:hover {
              background: linear_gradient(#749619, #527f0e);
              background-color: #91B7C0;
              border: 1px solid #91B7C0;
              box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
              font-size: 22px;
            }
          }
        }
  }


  nav {
        z-index: 101;
        height: 100%;
        width: 100%;
        line-height: 20px;

        h2 {
            font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
            line-height: 08px;
        }

        button {
          z-index: 102;
          width: 100%;
          border: 0px;
          background: #3f3f3f;
          text-align: left;
          display: inline;
          color: white;
          text-shadow: 0px 1px 0px rgba(0,0,0,.2);

          a {
            width: 100%;
            color: white;
            border: 1px solid #39434C;
            background: linear_gradient(#93bd20, #659e10);
            border-radius: 2px;
            box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
            background-color: #4E5A5D;
            margin-top: 10px;
            font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
            font-size:25px;
            display:inline-block;
            text-align:center;

            &:hover {
              background: linear_gradient(#749619, #527f0e);
              background-color: #91B7C0;
              border: 1px solid #91B7C0;
              box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
            }
          }
        }

        li {
          z-index: 100;
          text-align: left;
          font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;
          list-style: none;
          display: inline;
          color: white;
          text-shadow: 0px 1px 0px rgba(0,0,0,.2);

          a {
            width: 60%;
            margin-left: 15%;
            align: left;
            color: white;
            border: 1px solid #1C2E32;
            background: linear_gradient(#93bd20, #659e10);
            border-radius: 2px;
            box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
            background-color: #4E5A5D;
            padding: 10px 20px;
            margin-top: 1px;
            font-size:14px;
            display:inline-block;
            text-align:center;

            &:hover {
              background: linear_gradient(#749619, #527f0e);
              background-color: #91B7C0;
              border: 1px solid #91B7C0;
              box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
              width: 65%;
              line-height: 20px;
              font-weight: bold;
            }
          }

          &.fork {
            align: left;
            margin-left: 0px;
          }

          &.default {
            align: left;
            margin-left: 0px;
          }

          &.downloads {
            float: right;
            margin-left: 6px;
          }

          &.title {
            width: 100%;
            align: center;
            margin-left: 10%;
            margin-top: 20px;
            font-size: 18px;
            font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;
            font-weight: normal;
          }
        }
  }
}



section {
  max-width:100%;
  padding: 0px 0px 0px 0px;
  margin: 55px 0;
  margin-top: 0px;

  .gist-data, tr, td, th {
    background-color: #272727 !Important;
    color: white !Important;
    font-size: 12px !Important;
    }

  .gist-data{
    border: 2px solid #353535 !Important;
    color: white !Important;
    }

  .gist-file{
    border: 2px solid #353535 !Important;
    }

  .blob-wrapper data type-text, table{
    width: 100%;
    border: 2px solid #353535 !Important;
    color: white !Important;
    }

  .gist-meta {
    color: white !Important;
    background-color: #39434C !Important;
    border: 2px solid #353535 !Important;
    }

    .gist .pl-pds, .gist .pl-s .pl-pse .pl-s1, .gist .pl-sr, .gist .pl-sr .pl-cce, .gist .pl-sr .pl-sra, .gist .pl-sr .pl-sre {
        color: #AAA37A;
    }

    /* ClassName( */
    .gist .pl-v{
        color: #60789D;
    }
    /* "string" */
    .gist .pl-s{
         color: #AAA37A;
    }
    /* method Name */
    .gist .pl-en{
         color: #7A9DAA;
    }

    /* #comment */
    .gist .pl-c{
        color: #AAA37A;
    }
    /* class */
    .git .pl-k{
        color: white;
    }

  #title {
    border: 1px solid #9D9D9D;
    background-color: #464646;
    outline: none;
    margin: 0 0 0px 0;
    padding: 15px 0px 10px 0;

    h1 {
      font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
      font-weight: normal;
      font-size: 32px;
      text-align: center;
      line-height: 15px;
    }

    p {
      color: #d7cfbe;
      font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 8px;
      font-family: 'Madan', 'Helvetica Neue', Helvetica, Arial, serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }
    }
  }

}


@media print, screen and (max-width: 720px) {
  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 15px;
      text-align: center;
      background-color: #303332;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media print, screen and (max-width: 480px) {
    #sideBar {
        margin-top: -20px;
      }

    section {
        margin-top: 40px;
      }

    nav {
        display: none;
      }
}
